Source: byte-php54-opcache
Section: web
Priority: optional
Maintainer: Byte Internet <support@byte.nl>
Build-Depends: debhelper (>= 7), php5-dev

Package: byte-php54-opcache
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: php5
Description: Byte PHP Zend Opcache 
